:root{
    --white-color: #fff;
    --text-color: rgb(71, 71, 71);
    --black-color: #000;
    --font-color: #c3921b;
    --primary-color: #464646;
    --background-content__height: 800px;
    --background-content__height-tablet: 400px;
    --header-height: 130px;
    --header__search-height: calc(var(--header-height)/2);
    --header__info-height: calc(var(--header-height)/2);
    --process-height: 400px;
    --place-item-height: 400px;
    --fuiniture-height: 600px;
    --image-service-height: 400px;
    --collection-image-height: 560px;
    --introduction-image-height: 400px;
    --experience-height: 300px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-weight: 300;
    box-sizing: border-box;
}

.btn{
    border: none;
    padding: 10px 20px;
    background-color: #A60A0A;
    margin-left: 10px;
    border-radius: 4px;
}

.btn:hover{
    background-color: rgb(122, 122, 197);
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: fadeIn linear 0.3s;
    display: none;
    background-color:  rgba(0, 0, 0, 0.4);
}

@-webkit-keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* .sof::-webkit-scrollbar{
    display: none;
}

 ::-webkit-scrollbar{
    width: 0px;
    background-color: transparent;
}
.container {
    overflow-y: scroll;
    scrollbar-width: none; Firefox
    -ms-overflow-style: none; IE 10+ 
}
.container::-webkit-scrollbar { WebKit 
    width: 0;
    height: 0;
}  */


.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: fadeIn linear 0.3s;
    background-color:  rgba(0, 0, 0, 0.4);
    z-index: 10;
    align-items: center;
    justify-content: center;
    display: none;
    font-size: 1.6rem;
}

.modal.open{
    display: flex;
}

.modal-container{
    position: absolute;
    width: 700px;
    height: 350px;
    padding: 20px;
    background-color: #daabab;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.5), 0 5px 10px 0 rgba(255, 255, 255, 0.5);
}

.modal-close{
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;
}

.modal-close__icon{
    font-size: 2rem;
    position: absolute;
    right: 0;
}

.modal-header {
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    font-size: 2.5rem;
}

.modal-label {
    padding: 10px;
}

.modal-input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
}

#buy{
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 100%;
    height: 45px;
    border: 1px solid;
    margin-top: 10px;
}

#buy:hover{
    opacity: 0.8;
    cursor: pointer;
}
.modal-footer {
    padding: 10px;
}
