.main{
    overflow: hidden;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: var(--header-height);
    background-color: var(--primary-color);
    padding: 0 50px;
    border-top: 3px solid #c3921b;
    border-bottom: 3px solid #c3921b;
}

.content{
    margin-top: var(--header-height);
}

.header-navbar-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
}

.header-navbar-2{
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    display: none;
}

.header-navbar-icon{
    font-size: 3.6rem;
    color: var(--font-color);
}

.navbar-mobile__check{
    display: none;
}

.navbar-mobile__check:checked ~ .navbar-menu__short{
    display: block;
}

.navbar-mobile__check:checked ~ .overlay{
    display:block;
}

.navbar-menu__short{
    background-color: var(--white-color);
    min-width: 50vw;
    border: 2px solid var(--font-color);
    border-radius: 10px;
    display: none;
    position: absolute;
    top: var(--header__info-height);
    right: 0;
    transform: translateX(110%);
    animation: navbar-menu__shot-animation linear 0.3s forwards;
} 

@keyframes navbar-menu__shot-animation{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.navbar-box{
    position: relative;
}

.navbar-menu__home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: burlywood;
}

.navbar-menu__short-icon{
    font-size: 2.6rem;
    color: var(--font-color);
}

.navbar-menu__name-design:hover .navbar-menu__list-design, .navbar-menu__name-construct:hover .navbar-menu__list-construct, .navbar-menu__name-style:hover .navbar-menu__list-style{
    display: block;
}

.navbar-menu__list{
    list-style: none;
    background-color: var(--primary-color);
    display: none;
}

.navbar-menu__item{
    padding: 20px 10px;
}

.navbar-menu__item:hover{
    background-color: var(--white-color);
}

.navbar-menu__short-name{
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--black-color);
    padding: 20px 10px;
}

.navbar-menu__short-name:hover{
    color: var(--font-color);
}

.navbar-menu__item-link{
    text-decoration: none;
    font-size: 1.7rem;
    color: var(--font-color);
}

.header__seacrh {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: var(--header__search-height);
    margin-right: 5px;
}

.header__box-search {
    border-bottom: 1px solid var(--white-color);
    margin-right: 40px;
}

#box-search{
    padding: 10px 10px;
    border: none;
    background-color: var(--primary-color);
    outline: none;
    color: var(--white-color);
    margin-right: 20px;
}

.box-search__icon{
    font-size: 1.6rem;
    color: var(--white-color);
}

.header__box-language{
    font-size: 1.6rem;
    color: var(--white-color);
    padding: 10px 0;
}

#language-select{
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--white-color);   
}

.header__info {
    display: flex;
    justify-content: space-between;
    height: var(--header__info-height);
}

.header__logo{
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 200px;
    height: 100%;
}

.header-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    width: 80%;
}

.home-icon{
    font-size: 1.6rem;
    color: yellow;
    margin-right: 10px;
}

.header-item{
    position: relative;
}

.header-item + .header-item{
    margin-left: 25px;
}

.header-item__link {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--white-color);
    text-transform: uppercase;
}

.header-item--service , .header-item--product, .header-item--project{
    position: absolute;
    min-width: 240px;
    left: 0;
    top: 40px;
    background-color: var(--primary-color);
    display: none;
}

.item--service, .item--product, .item--project{
    height: 50%;
    text-align: center;
    padding: 10px 0;
}

.item--service:hover, .item--product:hover, .item--project{
    background-color: var(--white-color);
}

.service:hover .header-item--service, .product:hover .header-item--product, .project:hover .header-item--project{
    display: block;
    z-index: 2;
}

.service{
    position: relative;
}

.service::after, .product::after, .project::after{
    position: absolute;
    content: "";
    top: 15px;
    left: 0;
    width: 60px;
    background-color: transparent;
    height: 60px;
    z-index: 1;
}

.item--service:first-child, .item--product:first-child, .item--project:first-child{
    border-bottom: 1px solid var(--white-color);
}

.header-item--service-link, .header-item--product-link, .header-item--project-link{
    text-decoration: none;
    font-size: 1.6rem;
    color: rgb(204, 204, 82);
}

.background-content{ 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: var(--background-content__height);
    z-index: 0;
    position: relative;
    
}

.background-content__body{
    text-align: center;
    height: 50%; 
    width: 100%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);   
}

.background-content:hover .brand{
    animation: background-animation linear 2s alternate-reverse;
}

.background-content:hover .slogan{
    animation: background-animation linear 2s alternate;
}

.brand{
    color: var(--white-color);
    font-size: 8rem;
    text-transform: uppercase;  
    padding: 50px 0;
    position: relative;
    
}

.slogan{
    padding: 50px 0;
    font-size: 6rem;
    color: var(--font-color);
    position: relative;
    line-height: 8rem;
}


@keyframes background-animation{
    0%{
        font-size: 200%;
        transform: translateY(50px);
        margin-left: 100%;
    }
    75%{
        font-size: 150%;
        transform: translateY(25px);
        margin-left: 25%;
    }
    100%{
        font-size: 100%;
        transform: translateY(0);
        margin-left: 0;
    }
}

.process{
    background-color: var(--primary-color);
    text-align: center;
    color: var(--white-color);
    height: var(--process-height);
}

.process-title{
    text-transform: uppercase;
    font-size: 4rem;
    padding: 66px 0 50px 0;
}

.process-title-body{
    font-size: 1.8rem;
    line-height: 1.6rem;
}

.process-content{
    height: 50%;
}

.process-step{
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    margin: 0 15px;
    border-top: 1px solid var(--white-color);
}

.process-step__item:hover .step {
    color: bisque;
}

.process-step__item:hover .step::after{
    background-color: bisque;
}

.step{
    text-transform: uppercase;
    font-size: 1.4rem;
    position: relative;
}

.step::after{
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 10px;
    content: "";
    background-color: var(--white-color);
    border-radius: 50%;
}

.style-commitment{
    text-align: center;
    text-transform: uppercase;
    margin: 50px 0;
    line-height: 3rem;
}

#custom{
    font-size: 6rem;
    color: #c3921b;
}

.place-item{
    position: relative;
    height: var(--place-item-height);
}

.place-item:hover .place-item__overlay{
    opacity: 1;
    height: 100%;
}

.place-item::before{
    content: "";
    width: 100%;
    left: 0;
    bottom: 0;
    height: 300px;
    position: absolute;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.01));
    opacity: 0.9;
}

.place-item__overlay{
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(149, 66, 32, 0.45);
    opacity: 0;
    transition: 0.5s linear;   
}

.place-item__link{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.place-item, .fuiniture-item, .image-service, .collection-image , .introduction-image, .experience{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 24px;
    position: relative;
}


.place-item__box{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    color: var(--white-color);
}

.place-item__name{
    font-size: 2rem;
}

.place-item__content{
    font-size: 1.8rem;
    color: var(--white-color);
    position: absolute;
    top: 60%;
    margin: 0 50px;
}

.fuiniture-item{
    height: var(--fuiniture-height);
    position: relative;
    margin-bottom: 20px;
}

.fuiniture-content{
    position: absolute;
    min-width: 60%;
    right: 10%;
    top: 10%
}

.fuiniture-name {
    font-size: 3.5rem;
    color: var(--white-color);
    line-height: 5rem;
    margin-bottom: 5rem;
}

.fuiniture-list {
    list-style: none;
}

.fuiniture-list__item {
    line-height: 4rem;
    margin: 20px 0;
    position: relative;
}

.fuiniture-list__item:hover{
    background-color: var(--primary-color);
    color: var(--font-color);
    border-radius: 20px;
}

.fuiniture-list__item:hover .fuiniture-list__item-link {
    color: var(--font-color);
}

.fuiniture-list__item:hover .fuiniture-list__item-icon{
    color: var(--font-color);
}

.fuiniture-list__item-icon{
    color: var(--white-color);
    font-size: 1.8rem;
    margin: 0 15px;
}

.fuiniture-list__item-link {
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--white-color);
    width: 100%;
    height: 100%;
    position: absolute;
}

.fuiniture-footer{
    display: flex;
    align-items: center;
}

.fuiniture-brand{
    color: var(--white-color);
    font-size: 3rem;
    margin-right: 50px;
}

.fuiniture-btn{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 2px solid var(--font-color);
    opacity: 1;
}

.fuiniture-btn__icon{
    color: var(--font-color);
    font-size: 1.8rem;
    margin: 15px 20px;
}

.fuiniture-btn:hover .fuiniture-btn{
    opacity: 0.5;
}

.box-service{
    margin-bottom: 100px;
    text-align: center;
}

.image-service{
    height: var(--image-service-height);
    position: relative;
    margin: 0 auto;
    margin-bottom: 50px;
}

.service-name{
    display: block;
    min-height: 80px;
    font-size: 3rem;
    line-height: 3rem;
    color: #954220;
    text-transform: uppercase;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.service-discription{
    font-size: 1.8rem;
    padding: 50px 5px;
    margin-bottom: 10px;
    min-height: 150px;
    display: block;
}

.see-more{
    padding: 10px;
    background-image: linear-gradient(84deg, #f0da7e 0%, #b58735 47%, #c3921b 72%, #e2cc72 100%);
    border-radius: 5%;
    border: 1px solid var(--font-color);
    text-decoration: none;
    font-size: 3rem;
    color: var(--white-color);
}

.collection-content{
    position: relative;
    margin-bottom: 250px;
}

.collection-image{
    height: var(--collection-image-height);
}

.collection-box-1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    background-color: wheat;
    position: absolute;
    width: 100%;
    top: var(--collection-image-height);
    height: 150px;
}

.collection-box-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    background-color: rgba(149, 66, 32, 0.7);
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 0;
    right: 0;
}

.collection-discription{
    height: 50%;
}

.collection-name{
    font-size: 1.8rem;
    line-height: 4rem;
}

.collection-link{
    text-decoration: none;
    font-size: 3rem;
    color: var(--black-color);
}

.collection-link__btn{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid var(--black-color);
    opacity: 1;
}

.collection-link-icon{
    font-size: 1.8rem;
    color: var(--black-color);
}

.collect-content__link {
    text-decoration: none;
    font-size: 3rem;
    color: var(--font-color);
}

.intro{
    font-size: 6rem;
    color: #c3921b;
    margin-bottom: 40px;
}

.introduction-image{
    height: var(--introduction-image-height);
}

.introduction-content{
    height: 100%;
    line-height: 2rem;
}

.style-title-content{
    font-size: 1.6rem;
}

.style-title{
    font-size: 1.8rem;
}

.service-btn{
    margin-top: 35px;
}

.sofa{
    background-color: #ece4e4;
    background-size: contain;
    margin-bottom: 20px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    position: relative;
}

.sofa:hover{
    border: 5px solid rgba(149, 66, 32, 0.7);
}

.sofa:hover .sofa__overlay{
    opacity: 1;
}

.sofa-image{
    width: 100%;
}

.sofa-box{
    min-height: 100px;
    margin-top: 50px;
    text-align: center;
}

.sofa-link{
    text-decoration: none;
    font-size: 2.2rem;
    color: rgba(149, 66, 32, 0.7);
    text-transform: uppercase;
}

.sofa-contact{
    margin-top: 20px;
}

.sofa-contact__link{
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--black-color);
}

.sofa__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: rgba(149, 66, 32, 0.75);
    transition: 0.5s linear;
}

.sofa-info{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.material-name, .style-name , .sofa-price{
    font-size: 2.5rem;
    color: var(--white-color);
    line-height: 6rem;
}

.sofa-discription{
    font-size: 1.8rem;
    color: var(--white-color);
    line-height: 2rem;
    font-weight: 100;
}

.experience{
    height: var(--experience-height);
    position: relative;
    overflow: hidden;
    margin: 0;
    border: 2px solid var(--font-color);
}

.experience.special{
    height: calc(var(--experience-height)*2);
}

.experience::before{
    content: "";
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.001));
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 350px;
    width: 100%;
    opacity: 0.9;
}

.experience:hover .experience-title-box{
    /* animation: experience-animation linear 0.5s forwards alternate; */
     transform: translateY(0);
} 

.experience::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(149, 66, 32, 0.3), rgba(149, 66, 32, 0.1));
}

.experience-total{
    text-decoration: none;
    
}

.experience-title-box{
    position: absolute;
    transform: translateY(590%);
    left: 0;
    right: 0;
    line-height: 1.8rem;
    color: var(--white-color);
    margin: 0 20%;
    min-height: 100px;
    transition: transform linear 1s;
}

/* @keyframes experience-animation{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        bottom: 0;
    }
} */

.experience-title-content{
    font-size: 2.5rem;
    margin-bottom: 10px;
    line-height: 2rem;
    color: #fff;
    text-align: center;
    -webkit-line-clamp: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    margin-top: 20%;
}

.experience-content{
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 200;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer{
    margin-top: 120px;
    padding-bottom: 80px;
    border-bottom: 2px solid #c3921b;
}

.footer-item__name {
    font-size: 2.5rem;
    color: #c3921b;
}

.footer-contact__list {
    list-style: none;
}

.footer-contact__item {
    margin: 15px 0;
}

.footer-contact__item-icon{
    font-size: 2rem;
    margin-right: 10px;
}

.footer-contact__item-place {
    font-size: 1.6rem;
}

.footer-web__list {
    list-style: none;
    margin-top: 10px;
}

.footer-web__item {
    margin: 15px 0;
}

.footer-web__item-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--black-color);
}

.footer-item p{
    font-size: 1.6rem;
    margin: 20px 0;
}

.footer-signup__input{
    background-color: #f2f2f2;
    height: 55px;
    border: none;
    width: calc(100% - 120px);
    border-radius: 30px 0 0 30px;
    padding-left: 10px;
    outline: none;
}

.footer-signup__send{
    height: 55px;
    background-image: linear-gradient( -267deg, #f0da7e 0%, #b58735 47%, #c3921b 72%, #e2cc72 100%);
    width: 70px;
    text-align: center;
    border-radius: 0px 30px 30px 0px;
    border: none;
}

.footer-signup__box {
    margin: 20px 0;
    list-style: none;
    display: flex;
}

.footer-signup__list{
    border: 3px solid #c3921b;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin-right: 20px;
}

.footer-signup__link{
    margin: auto auto;
    padding: 20px 8px;
}

.footer-signup__icon {
    margin-top: 8px;
    font-size: 1.6rem;
    color: #c4972d;
}

.phone{
    position: fixed;
    right: 0;
    bottom: 0;
}

.phone-box {
    position: absolute;
    bottom: 100px;
    right: 50px;
}

.messenger{
    position: fixed;
    right: 0;
    bottom: 0;
}

.messenger-box{
    position: absolute;
    bottom: 35px;
    right: 50px;
}

.phone-link, .messenger-link {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #c4972d;
}

.phone-icon, .messenger-icon{
    color: var(--white-color);
    font-size: 2.5rem;
    margin: 12px;
}





